# Copyright (C) Huawei Technologies Co., Ltd. 2024. All rights reserved.
# Description: Kconfig for vsync
# Author: Huawei OS Kernel Lab
# Create: Mon Aug 09 15:19:37 2021

# HMCMAKENG_KCONFIG is injected by HongmengCMakeNG/Kconfig.cmake
# which defines multiple config options which is useful for HMbuild.
source "$(HMCMAKENG_KCONFIG)"
