# CONFIG_POSIX_CAPS is not set
# CONFIG_NET_IO_URING is not set
CONFIG_DEVHOST_BLK_SRING_LEN=2
CONFIG_NET_POOL_UNIT_BITS=11
# CONFIG_DEVHOST_ENTROPY_COLLECT is not set
# CONFIG_DEVHOST_PM_PLUGIN is not set
# CONFIG_DEVHOST_NETLINK is not set
