config DFX_SH
	bool "DFX sh driver"
	default n
	help
		Say 'Y' here if you want to use enable dfx sh

config DFX_SH_DDR
	bool "DFX sh ddr driver"
	default n
	help
		Say 'Y' here if you want to use enable dfx sh ddr

config DFX_SH_HFRC
	bool "DFX sh time based compensation"
	depends on DFX_SH
	default n
	help
	Say 'Y' here if you want to enable time based compensation
