#
# HongMeng Kernel Configuration Overlay
#

# CONFIG_CC_IS_CLANG is not set
# CONFIG_LD_IS_LLD is not set
# CONFIG_CC_HAS_ASM_GOTO_OUTPUT is not set
# CONFIG_TOOLS_SUPPORT_RELR is not set
# CONFIG_SCHED_LATENCY_NICE is not set
# CONFIG_CFS_BANDWIDTH is not set
# CONFIG_CPUSETS_MUTEX is not set
CONFIG_LIBLINUX_PERI_DMA=y
CONFIG_LIBLINUX_TTY_BLOCK_DMA_STATE_USE=y
CONFIG_SPI_V400_TIMEOUT_LOG=y
# CONFIG_USER_NS is not set
# CONFIG_FHANDLE is not set
# CONFIG_HZ_250 is not set
# CONFIG_CC_HAVE_SHADOW_CALL_STACK is not set
# CONFIG_COMPAT_VDSO is not set
# CONFIG_THUMB2_COMPAT_VDSO is not set
# CONFIG_CC_HAS_BRANCH_PROT_PAC_RET is not set
# CONFIG_CC_HAS_BRANCH_PROT_PAC_RET_BTI is not set
# CONFIG_UPROBES is not set
# CONFIG_ARCH_SUPPORTS_SHADOW_CALL_STACK is not set
# CONFIG_HAS_LTO_CLANG is not set
# CONFIG_RELR is not set
# CONFIG_HUAWEI_QOS_BLKIO is not set
# CONFIG_HYPERHOLD_FILE_LRU is not set
# CONFIG_HYPERHOLD_MEMCG is not set
# CONFIG_HYPERHOLD_ZSWAPD is not set
# CONFIG_SPARSEMEM_EXTREME is not set
# CONFIG_ZSMALLOC_STAT is not set
# CONFIG_HW_XRECLAIMER is not set
# CONFIG_MEM_PURGEABLE is not set
# CONFIG_MEM_PURGEABLE_DEBUG is not set
# CONFIG_PURGEABLE_ASHMEM is not set
# CONFIG_ADJUST_SWAPPINESS is not set
# CONFIG_KSHRINK_SLABD is not set
# CONFIG_STOP_PAGE_REF is not set
# CONFIG_STOP_PAGE_REF_DEBUG is not set
# CONFIG_NEWIP is not set
# CONFIG_HYPERHOLD is not set
# CONFIG_HYPERHOLD_DEBUG is not set
# CONFIG_HP_FILE is not set
# CONFIG_CONNECTOR is not set
# CONFIG_PROC_EVENTS is not set
# CONFIG_ZRAM is not set
# CONFIG_ZRAM_WRITEBACK is not set
# CONFIG_ZRAM_DEDUP is not set
# CONFIG_ZRAM_GROUP is not set
# CONFIG_ZRAM_GROUP_DEBUG is not set
# CONFIG_ZLIST_DEBUG is not set
# CONFIG_ZRAM_GROUP_WRITEBACK is not set




# CONFIG_I2C_HID is not set
# CONFIG_ARMPC_USB_HUB is not set
# CONFIG_CHECK_USBMODE is not set
# CONFIG_CS32G050_MULTI_PORT is not set
# CONFIG_HW_USB_PM is not set
# CONFIG_HUAWEI_ARMPC_PCIE_MISC is not set
# CONFIG_ARMPC_ECHUB is not set
# CONFIG_ARMPC_ECHUB_I2C is not set
# CONFIG_ARMPC_ECHUB_DEBUG_FS is not set
# CONFIG_ARMPC_ECHUB_PMSYNC is not set
# CONFIG_ARMPC_ECHUB_LID is not set
# CONFIG_ARMPC_ECHUB_BATTERY is not set
# CONFIG_ARMPC_ECHUB_FNLED is not set
# CONFIG_PC_ECHUB_THERMAL is not set
# CONFIG_DFX_HUNGTASK is not set
# CONFIG_DFX_HUNGTASK_EXT is not set
# CONFIG_DFX_HUNGTASK_USER is not set
# CONFIG_DFX_HUNGTASK_MMAP_SEM is not set
# CONFIG_DFX_HUNGTASK_MMAP_SEM_DBG is not set
# CONFIG_AUTHORITY_CTRL is not set
# CONFIG_QOS_CONTROL is not set
# CONFIG_RTG_AUTHORITY is not set
# CONFIG_QOS_AUTHORITY is not set
# CONFIG_AUTH_QOS_DEBUG is not set
# CONFIG_FILEGUARD_NETWORK is not set
# CONFIG_FILEGUARD_IPCWORK is not set
# CONFIG_HMDFS_FS_ENCRYPTION is not set
# CONFIG_SHARE_FS is not set
# CONFIG_FANOTIFY is not set
# CONFIG_FANOTIFY_ACCESS_PERMISSIONS is not set
# CONFIG_EPFS is not set
# CONFIG_EPFS_DEBUG is not set
CONFIG_HM_HKIP_PRMEM=y
CONFIG_HM_HKIP_SEHARMONY_PROT=y
CONFIG_HKIP_SELINUX_PROT=y
CONFIG_HMKIP=y
# CONFIG_SECURITY_SELINUX_DEVELOP is not set
# CONFIG_SECURITY_XPM is not set
# CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN is not set
# CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO is not set
# CONFIG_CRYPTO_ECDSA is not set
# CONFIG_GENERIC_COMPAT_VDSO is not set
# CONFIG_DEBUG_INFO_BTF is not set
# CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS is not set
# CONFIG_GENERIC_TRACER is not set
# CONFIG_FTRACE_SYSCALLS is not set
# CONFIG_KPROBE_EVENTS is not set
# CONFIG_UPROBE_EVENTS is not set
# CONFIG_BPF_EVENTS is not set
# CONFIG_DYNAMIC_EVENTS is not set
# CONFIG_PROBE_EVENTS is not set
# CONFIG_BPF_KPROBE_OVERRIDE is not set
# CONFIG_FUNCTION_ERROR_INJECTION is not set
# CONFIG_CPUIDLE_STATE_NOTIFY is not set
# CONFIG_SCHED_LTS is not set
# CONFIG_USB_MODE_INIT is not set
# CONFIG_HYPERHOLD_INLINE_CRYPTO is not set
# CONFIG_H_MM is not set
# CONFIG_H_MM_SLOW_PATH_COUNT is not set
# CONFIG_H_MM_PAGE_TRACE is not set
# CONFIG_SPLIT_SHRINKER is not set
# CONFIG_SPLIT_SHRINKER_DEBUG is not set
# CONFIG_IMPROPER_ALLOC_FAULT is not set
# CONFIG_SLUB_DEBUG_ENHANCED is not set
# CONFIG_HHEE is not set
# CONFIG_HKIP_XOM_CODE is not set
# CONFIG_HHEE_OHOS is not set
# CONFIG_HKIP_PRMEM is not set
# CONFIG_HKIP_PROTECT_BPF is not set
# CONFIG_HKIP_PROTECT_SYSCTL_TABLE is not set
# CONFIG_CONNECTIVITY_HI116X is not set
# CONFIG_QOS_POLICY_MAX_NUMBER is not set
# CONFIG_HKIP_SELINUX_POLDB_SIZE_MB is not set
# CONFIG_PRMEM_MAX_MEMORY is not set
# CONFIG_HKIP_PROTECT_BPF_CAP is not set

# CONFIG_CPU_BIG_ENDIAN is not set
# CONFIG_GCC_PLUGINS is not set
# CONFIG_BCMCONNECTIVITY is not set
# CONFIG_FORTIFY_SOURCE is not set
# CONFIG_SAMPLE_AUXDISPLAY is not set
# CONFIG_SAMPLE_TRACE_EVENTS is not set
# CONFIG_SAMPLE_TRACE_PRINTK is not set
# CONFIG_SAMPLE_TRACE_ARRAY is not set
# CONFIG_SAMPLE_KOBJECT is not set
# CONFIG_SAMPLE_KFIFO is not set
# CONFIG_SAMPLE_RPMSG_CLIENT is not set
# CONFIG_SAMPLE_CONFIGFS is not set
# CONFIG_SAMPLE_VFIO_MDEV_MDPY_FB is not set
# CONFIG_SAMPLE_WATCHDOG is not set
# CONFIG_REFAULT_IO_VMSCAN is not set
# CONFIG_VENDOR_FS is not set
# CONFIG_MEMCG is not set
# CONFIG_BLK_CGROUP is not set
# CONFIG_CGROUP_SCHED is not set
# CONFIG_CGROUP_FREEZER is not set
# CONFIG_CPUSETS is not set
# CONFIG_CGROUP_CPUACCT is not set
# CONFIG_DFX_BINDER is not set
# CONFIG_SCHED_CFS_WORKAROUND is not set
# CONFIG_DFX_LOCK_TRACE is not set
# CONFIG_DFX_LOCK_TRACE_DEBUG is not set
# CONFIG_NETWORK_FILESYSTEMS is not set
# CONFIG_HMDFS_FS is not set
# CONFIG_FUSE_FS is not set
# CONFIG_OVERLAY_FS is not set
# CONFIG_VFAT_FS is not set
# CONFIG_EXFAT_FS is not set
# CONFIG_ECRYPT_FS is not set
# CONFIG_EROFS_FS is not set
CONFIG_DMABUF_EXT=y
CONFIG_LIBLINUX=y
CONFIG_LIBLINUX_KMAP_BITS=37
CONFIG_LIBLINUX_MODULES_RSVD_BITS=27
CONFIG_LIBLINUX_USE_NATIVE_SPINLOCK=y
CONFIG_CC_VERSION_TEXT="aarch64-hongmeng-musl-gcc (BiSheng CPU 3.1.0.B007) 7.3.0"
CONFIG_CC_IS_GCC=y
CONFIG_GCC_VERSION=70300
CONFIG_LD_VERSION=234000000
CONFIG_CLANG_VERSION=0
CONFIG_LLD_VERSION=0
CONFIG_CC_CAN_LINK=y
CONFIG_CC_CAN_LINK_STATIC=y
CONFIG_LOCALVERSION="-oh"
CONFIG_FFRT_RTG=y
# CONFIG_WORKER_MONITOR is not set
CONFIG_LIBLINUX_NET_STACK=y
CONFIG_LIBLINUX_ASYNC_SYSFS=y
CONFIG_DFX_LIBLINUX=y
CONFIG_HZ_100=y
CONFIG_HZ=100
CONFIG_SPARSEMEM_STATIC=y

CONFIG_MM_IOMMU_DMD_REPORT=y
CONFIG_TEE_KTRACE=y
CONFIG_ENABLE_DEFAULT_TRACERS=y
CONFIG_SAMPLES=y
CONFIG_SAMPLE_LDK=y
CONFIG_SAMPLE_LDK_EXTRA_HEAD=y
CONFIG_LIBLINUX_UDK_UFS=y
CONFIG_BLK_DEV_SD_HELPER=y
CONFIG_LIBLINUX_DEBUGFS=y
CONFIG_LIBLINUX_DEBUGFS_BINDER=y
CONFIG_LIBLINUX_DEBUGFS_XPM=y
CONFIG_LIBLINUX_DEBUGFS_EXT=y
CONFIG_CRYPTO_MANAGER_DISABLE_TESTS=y
CONFIG_LIBLINUX_HMTRACEFS=y
CONFIG_DEVTMPFS=y

CONFIG_HM_SR_PHONE=y
CONFIG_DUMP_HMLOG_ON_EXCEPTION=y
CONFIG_DUMP_SNAPSHOT_PLAINTEXT=y
CONFIG_LOG_ENCRYPT=y
CONFIG_CRYPTO_XCBC=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_CRYPTO_LIB_CHACHA20POLY1305=y
# CONFIG_POSIX_TIMERS is not set
CONFIG_FORCE_MAX_ZONEORDER=13
# CONFIG_ARM64_PTR_AUTH is not set
# CONFIG_ARM64_MTE is not set
# CONFIG_BLK_WBT is not set
# CONFIG_BLK_INLINE_ENCRYPTION is not set
# CONFIG_UEVENT_HELPER is not set
# CONFIG_FW_LOADER_USER_HELPER is not set
# CONFIG_PCIEAER is not set
# CONFIG_ANDROID_LOW_MEMORY_KILLER_DAEMON is not set
# CONFIG_SERIAL_AMBA_PL010_CONSOLE is not set
# CONFIG_USB_CONFIGFS_F_ACC is not set
# CONFIG_CIFS is not set
# CONFIG_FS_ENCRYPTION is not set
# CONFIG_F2FS_ENCRYPTION is not set
# CONFIG_SCHED_WALT is not set
# CONFIG_PSI is not set
# CONFIG_CPU_ISOLATION is not set
# CONFIG_UTS_NS is not set
# CONFIG_HISI_EAS_SCHED is not set
# CONFIG_SCHED_INDICATE_FCM_IDLE is not set
# CONFIG_PHASE is not set
# CONFIG_CORE_CTRL is not set
# CONFIG_BLK_DEV_INITRD is not set
# CONFIG_MULTIUSER is not set
# CONFIG_SYSFS_SYSCALL is not set
# CONFIG_TIMERFD is not set
# CONFIG_SHMEM is not set
# CONFIG_VM_EVENT_COUNTERS is not set
# CONFIG_SLAB_FREELIST_RANDOM is not set
# CONFIG_DEBUG_MEMORY_INIT is not set
# CONFIG_SOFTLOCKUP_DETECTOR is not set
# CONFIG_DEBUG_SPINLOCK is not set
# CONFIG_HW_RECLAIM_ACCT is not set
# CONFIG_HW_ALLOC_ACCT is not set
# CONFIG_HW_LINUX_KERNEL_MM is not set
# CONFIG_COMPACTION is not set
# CONFIG_LDK_KALLOCD_PRIO_OPTIMIZE is not set

# CONFIG_NFT_DUP_IPV6 is not set
# CONFIG_NFT_FIB_IPV6 is not set
# CONFIG_IP6_NF_MATCH_AH is not set
# CONFIG_IP6_NF_MATCH_EUI64 is not set
# CONFIG_IP6_NF_MATCH_FRAG is not set
# CONFIG_IP6_NF_MATCH_OPTS is not set
# CONFIG_IP6_NF_MATCH_IPV6HEADER is not set
# CONFIG_IP6_NF_MATCH_MH is not set
# CONFIG_IP6_NF_MATCH_RT is not set
# CONFIG_IP6_NF_TARGET_NPT is not set
# CONFIG_MPTCP is not set
# CONFIG_PACKET_DIAG is not set

# CONFIG_HARDENED_USERCOPY is not set

# CONFIG_MAS_BLK is not set
CONFIG_MAS_BLK_HM=y
# CONFIG_PMU_RTC_READCOUNT is not set
# CONFIG_USB_DOCK_HEADSET_QUIRK is not set
# CONFIG_LPCPU_MULTIDRY_CPUIDLE is not set
# CONFIG_DDR_DEVFREQ_PLATFORM is not set
# CONFIG_ARM_MEMLAT_MON is not set
# CONFIG_THERMAL_SPM is not set

# CONFIG_PERF_EVENTS is not set
# CONFIG_MM_LB is not set
# CONFIG_F2FS_FS_ENCRYPTION is not set

# CONFIG_HUAWEI_QOS_BLKIO is not set
# CONFIG_RFKILL is not set
# CONFIG_HW_QOS_SCHED is not set
# CONFIG_SCHED_LATENCY_NICE is not set

# CONFIG_QOS_CONTROL is not set
# CONFIG_QOS_AUTHORITY is not set
# CONFIG_QOS_POLICY_MAX_NR is not set
# CONFIG_AUTHORITY_CTRL is not set
# CONFIG_FREQ_PLATFORM_QOS_DEBUG is not set
# CONFIG_LPCPU_MULTIDRV_CPUIDLE is not set

# CONFIG_HW_F2FS_FS is not set
CONFIG_LCD_KIT_DEBUG=y
# CONFIG_F2FS_CHECK_FS is not set
# CONFIG_HID_RMI is not set
CONFIG_DOZE_FILTER=y
# CONFIG_HKIP_PRMEM is not set
# CONFIG_FILE_LOCKING is not set
# CONFIG_COREDUMP is not set
# CONFIG_MAGIC_SYSRQ is not set
# CONFIG_INTEGRITY is not set
# CONFIG_USB_AUDIO_POWER is not set
# CONFIG_USB_ANALOG_HS_MODULE is not set
# CONFIG_CPU_EDAC_ARM64 is not set
CONFIG_LIBLINUX_CONFIGFS_EXT=y
CONFIG_LOGGER_EXTEND=y
CONFIG_LOG_USERTYPE=y

CONFIG_FBE4_UECE_FOR_HM_FSCRYPTO=y
CONFIG_FBE_DE_DOUBLE_TO_SINGLE=y
CONFIG_FILE_BASED_ENCRYPTO_FOR_HM_FSCRYPTO=y
CONFIG_FBE_MSPC_ABSENT=y

CONFIG_LIBLINUX_USE_LASTKLOG=y

CONFIG_LIBLINUX_THREAD_BLOCK=y

# CONFIG_KERNEL_CODEMERGE is not set
# CONFIG_CSD_LOCK_WAIT_DEBUG is not set
CONFIG_CODE_DECRYPT_HM=y
CONFIG_LIBLINUX_MODULE_BINDER=y
CONFIG_LIBLINUX_MIPSMEM_FREQ=y

CONFIG_XZ_DEC=y
CONFIG_XZ_DEC_BCJ=y
# CONFIG_XZ_DEC_X86 is not set
# CONFIG_XZ_DEC_POWERPC is not set
# CONFIG_XZ_DEC_IA64 is not set
# CONFIG_XZ_DEC_ARM is not set
# CONFIG_XZ_DEC_ARMTHUMB is not set
# CONFIG_XZ_DEC_SPARC is not set
# CONFIG_XZ_DEC_TEST is not set





CONFIG_NPU_OHOS=y

CONFIG_LIBLINUX_USE_TRACK_INFO=y
# CONFIG_DFX_PSTORE is not set
CONFIG_NETLINK_ROUTE_NLMSG_READPRIV=y

CONFIG_SCSI_LOGGING=y

CONFIG_SECBOOT_BUFFER_FORM_PAGE=y

CONFIG_HUAWEI_FEATURE_PRINT_PID_NAME=y

CONFIG_FREEZER=y
CONFIG_NETFILTER_XT_TARGET_HL=y
# CONFIG_USER_HANDLE_FREEZING is not set

CONFIG_LIBLINUX_READ_MIDR_EL0=y
