#
# HongMeng Kernel Configuration Overlay
#

# CONFIG_CC_IS_CLANG is not set
# CONFIG_LD_IS_LLD is not set
# CONFIG_CC_HAS_ASM_GOTO_OUTPUT is not set
# CONFIG_TOOLS_SUPPORT_RELR is not set
# CONFIG_CC_HAVE_SHADOW_CALL_STACK is not set
# CONFIG_COMPAT_VDSO is not set
# CONFIG_THUMB2_COMPAT_VDSO is not set
# CONFIG_CC_HAS_BRANCH_PROT_PAC_RET is not set
# CONFIG_ARCH_SUPPORTS_SHADOW_CALL_STACK is not set
# CONFIG_HAS_LTO_CLANG is not set
# CONFIG_RELR is not set
# CONFIG_HYPERHOLD_MEMCG is not set
# CONFIG_HYPERHOLD_ZSWAPD is not set
# CONFIG_SPARSEMEM_EXTREME is not set
# CONFIG_HW_XRECLAIMER is not set
# CONFIG_ADJUST_SWAPPINESS is not set
# CONFIG_KSHRINK_SLABD is not set
# CONFIG_STOP_PAGE_REF is not set
# CONFIG_STOP_PAGE_REF_DEBUG is not set
# CONFIG_HYPERHOLD is not set
# CONFIG_HYPERHOLD_DEBUG is not set
# CONFIG_HP_FILE is not set
# CONFIG_ZRAM is not set
# CONFIG_ZRAM_DEDUP is not set
# CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN is not set
# CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO is not set
# CONFIG_GENERIC_COMPAT_VDSO is not set
# CONFIG_DEBUG_INFO_BTF is not set
# CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS is not set
# CONFIG_UPROBE_EVENTS is not set
# CONFIG_DYNAMIC_EVENTS is not set
# CONFIG_PROBE_EVENTS is not set
# CONFIG_H_MM is not set
# CONFIG_H_MM_PAGE_TRACE is not set
# CONFIG_SPLIT_SHRINKER is not set
# CONFIG_SPLIT_SHRINKER_DEBUG is not set
# CONFIG_NETWORK_FILESYSTEMS is not set
# CONFIG_HMDFS_FS is not set
# CONFIG_SHARE_FS is not set
# CONFIG_FUSE_FS is not set
# CONFIG_OVERLAY_FS is not set
# CONFIG_VFAT_FS is not set
# CONFIG_EXFAT_FS is not set
# CONFIG_ECRYPT_FS is not set
# CONFIG_EROFS_FS is not set
CONFIG_LDK_SVM=y
# CONFIG_SVM_PRE_FLUSH_CACHE is not set
# CONFIG_IMPROPER_ALLOC_FAULT is not set
# CONFIG_SLUB_DEBUG_ENHANCED is not set
# CONFIG_HHEE is not set
CONFIG_HM_HHEE=y
# CONFIG_HKIP_XOM_CODE is not set
# CONFIG_HKIP_MAP_KERNEL_PROTECT is not set
# CONFIG_HHEE_OHOS is not set
# CONFIG_DFX_BINDER is not set
# CONFIG_SCHED_CFS_WORKAROUND is not set
# CONFIG_DFX_LOCK_TRACE is not set
# CONFIG_DFX_LOCK_TRACE_DEBUG is not set
# CONFIG_BINDER_FILE_DEBUG_LOG is not set
CONFIG_LIBLINUX_PERI_DMA=y
CONFIG_LIBLINUX_PERI_DMA_USE_HRTIMER=y
# CONFIG_KPROBE_EVENTS is not set
CONFIG_DMABUF_EXT=y
CONFIG_DMABUF_SWAP=y
CONFIG_LIBLINUX=y
CONFIG_LIBLINUX_KMAP_BITS=37
CONFIG_LIBLINUX_MODULES_RSVD_BITS=27
CONFIG_LIBLINUX_USE_NATIVE_SPINLOCK=y
CONFIG_CC_VERSION_TEXT="aarch64-hongmeng-musl-gcc (BiSheng CPU 3.1.0.B007) 7.3.0"
CONFIG_CC_IS_GCC=y
CONFIG_GCC_VERSION=70300
CONFIG_LD_VERSION=234000000
CONFIG_CLANG_VERSION=0
CONFIG_LLD_VERSION=0
CONFIG_CC_CAN_LINK=y
CONFIG_CC_CAN_LINK_STATIC=y
CONFIG_LOCALVERSION="-oh"
CONFIG_LIBLINUX_NET_STACK=y
CONFIG_LIBLINUX_ASYNC_SYSFS=y
CONFIG_LIBLINUX_PCP_FREE_FACTOR=y
CONFIG_LIBLINUX_USER_INVAL_CACHE=y
CONFIG_DFX_LIBLINUX=y
CONFIG_SPARSEMEM_STATIC=y
CONFIG_SAMPLES=y
CONFIG_LIBLINUX_DEBUGFS=y
CONFIG_LIBLINUX_DEBUGFS_BINDER=y
CONFIG_LIBLINUX_MODULE_BINDER=y
CONFIG_LIBLINUX_DEBUGFS_COMPACTION=y
CONFIG_LIBLINUX_DEBUGFS_XPM=y
CONFIG_LIBLINUX_DEBUGFS_EXT=y
CONFIG_CRYPTO_MANAGER_DISABLE_TESTS=y
CONFIG_LIBLINUX_HMTRACEFS=y
CONFIG_LIBLINUX_CONFIGFS_EXT=y
CONFIG_LOGGER_EXTEND=y
CONFIG_LOG_USERTYPE=y
# CONFIG_SAMPLE_AUXDISPLAY is not set
# CONFIG_SAMPLE_TRACE_EVENTS is not set
# CONFIG_SAMPLE_TRACE_PRINTK is not set
# CONFIG_SAMPLE_TRACE_ARRAY is not set
# CONFIG_SAMPLE_KOBJECT is not set
# CONFIG_SAMPLE_KFIFO is not set
# CONFIG_SAMPLE_RPMSG_CLIENT is not set
# CONFIG_SAMPLE_CONFIGFS is not set
# CONFIG_SAMPLE_VFIO_MDEV_MDPY_FB is not set
# CONFIG_SAMPLE_WATCHDOG is not set
CONFIG_SAMPLE_LDK=y
CONFIG_SAMPLE_LDK_EXTRA_HEAD=y
CONFIG_LIBLINUX_MIPSMEM_FREQ=y
CONFIG_LIBLINUX_UDK_UFS=y
CONFIG_UFS_LOW_POWER_VOTE_STATUS_SYNC=y
CONFIG_BLK_DEV_SD_HELPER=y
CONFIG_HVGR_ASYNC_MEM_RECYCLE=y
CONFIG_HVGR_SAMEVA_CACHE=y
# CONFIG_HVGR_SYSTEM_CACHE is not set
# CONFIG_LIBLINUX_NO_HZ is not set
CONFIG_DEVTMPFS=y


CONFIG_CRYPTO_USER_API=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRYPTO_USER_API_RNG=y
CONFIG_CRYPTO_USER_API_AEAD=y

CONFIG_CRYPTO_XCBC=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_CRYPTO_LIB_CHACHA20POLY1305=y

CONFIG_NET_SOCK_MSG=y

CONFIG_HZ_100=y
# CONFIG_HZ_250 is not set
CONFIG_HZ=100
# CONFIG_ARM_TIMER_SP804 is not set
# CONFIG_32BIT_COMPAT is not set

# CONFIG_POSIX_TIMERS is not set
CONFIG_FORCE_MAX_ZONEORDER=13
# CONFIG_ARM64_PTR_AUTH is not set
# CONFIG_ARM64_MTE is not set
# CONFIG_BLK_WBT is not set
# CONFIG_BLK_INLINE_ENCRYPTION is not set
# CONFIG_UEVENT_HELPER is not set
# CONFIG_FW_LOADER_USER_HELPER is not set
# CONFIG_PCIEAER is not set
# CONFIG_ANDROID_LOW_MEMORY_KILLER_DAEMON is not set
# CONFIG_SERIAL_AMBA_PL010_CONSOLE is not set
# CONFIG_USB_CONFIGFS_F_ACC is not set
# CONFIG_CIFS is not set
# CONFIG_FS_ENCRYPTION is not set
# CONFIG_F2FS_ENCRYPTION is not set
# CONFIG_SCHED_WALT is not set
# CONFIG_PSI is not set
# CONFIG_CPU_ISOLATION is not set
# CONFIG_UTS_NS is not set
# CONFIG_HISI_EAS_SCHED is not set
# CONFIG_SCHED_INDICATE_FCM_IDLE is not set
# CONFIG_PHASE is not set
# CONFIG_CORE_CTRL is not set
# CONFIG_BLK_DEV_INITRD is not set
# CONFIG_BOOT_CONFIG is not set
# CONFIG_MULTIUSER is not set
# CONFIG_SYSFS_SYSCALL is not set
# CONFIG_TIMERFD is not set
# CONFIG_SHMEM is not set
# CONFIG_VM_EVENT_COUNTERS is not set
# CONFIG_SLAB_FREELIST_RANDOM is not set
# CONFIG_DEBUG_MEMORY_INIT is not set
# CONFIG_SOFTLOCKUP_DETECTOR is not set
# CONFIG_DEBUG_SPINLOCK is not set
# CONFIG_HW_RECLAIM_ACCT is not set
# CONFIG_HW_ALLOC_ACCT is not set
# CONFIG_HW_LINUX_KERNEL_MM is not set
# CONFIG_COMPACTION is not set
# CONFIG_LDK_KALLOCD_PRIO_OPTIMIZE is not set

# CONFIG_NFT_DUP_IPV6 is not set
# CONFIG_NFT_FIB_IPV6 is not set
# CONFIG_IP6_NF_MATCH_AH is not set
# CONFIG_IP6_NF_MATCH_EUI64 is not set
# CONFIG_IP6_NF_MATCH_FRAG is not set
# CONFIG_IP6_NF_MATCH_OPTS is not set
# CONFIG_IP6_NF_MATCH_IPV6HEADER is not set
# CONFIG_IP6_NF_MATCH_MH is not set
# CONFIG_IP6_NF_MATCH_RT is not set
# CONFIG_IP6_NF_TARGET_NPT is not set
# CONFIG_MPTCP is not set
# CONFIG_PACKET_DIAG is not set
# CONFIG RFKILL is not set
# CONFIG_HARDENED_USERCOPY is not set
CONFIG_HVGR_MMU_HM=y

# CONFIG_MAS_BLK is not set
CONFIG_MAS_BLK_HM=y
# CONFIG_PMU_RTC_READCOUNT is not set
# CONFIG_USB_DOCK_HEADSET_QUIRK is not set
# CONFIG_LPCPU_MULTIDRY_CPUIDLE is not set
# CONFIG_DDR_DEVFREQ_PLATFORM is not set
# CONFIG_ARM_MEMLAT_MON is not set
# CONFIG_THERMAL_SPM is not set
# CONFIG_THERMAL_TRIP is not set
# CONFIG_SCHED_SMT is not set

CONFIG_MM_LB=y
# CONFIG_MM_LB_SLAVE is not set
# CONFIG_MM_LB_DEBUG is not set
# CONFIG_MM_LB_ENG_DEBUG is not set
# CONFIG_MM_LB_TST is not set
# CONFIG_MM_LB_PMU is not set
CONFIG_MM_LB_L3_EXTENSION=y
# CONFIG_MM_LB_V100 is not set
# CONFIG_MM_LB_V200 is not set
# CONFIG_MM_LB_V300 is not set
# CONFIG_MM_LB_V400 is not set
# CONFIG_MM_LB_V500 is not set
CONFIG_MM_LB_V550=y
CONFIG_MM_LB_PLAT_V550=y
# CONFIG_MM_LB_PLAT_V560 is not set
# CONFIG_MM_LB_PLAT_V570 is not set
CONFIG_MM_LB_FULL_COHERENCY=y
CONFIG_MM_LB_GID_PBHA=y
# CONFIG_MM_LB_GID_PBHA_LITTLE_ENDIAN is not set
# CONFIG_MM_LB_SUPPORT_REMOTE_SC is not set
# CONFIG_MM_LB_PMU_V500 is not set
# CONFIG_F2FS_FS_ENCRYPTION is not set

# CONFIG_HUAWEI_QOS_BLKIO is not set
# CONFIG_RFKILL is not set
# CONFIG_HW_QOS_SCHED is not set
# CONFIG_SCHED_LATENCY_NICE is not set

# CONFIG_QOS_CONTROL is not set
# CONFIG_QOS_AUTHORITY is not set
# CONFIG_QOS_POLICY_MAX_NR is not set
# CONFIG_AUTHORITY_CTRL is not set
# CONFIG_FREQ_PLATFORM_QOS_DEBUG is not set
CONFIG_DDR_DDRC_STAT=y
# CONFIG_LPCPU_MULTIDRV_CPUIDLE is not set

# CONFIG_HW_F2FS_FS is not set
CONFIG_LCD_KIT_DEBUG=y
# CONFIG_F2FS_CHECK_FS is not set
# CONFIG_HID_RMI is not set
CONFIG_DOZE_FILTER=y
# CONFIG_HKIP_PRMEM is not set
CONFIG_HM_HKIP_PRMEM=y
CONFIG_HM_HKIP_SEHARMONY_PROT=y
# CONFIG_HM_SEPOL_POLICYDB is not set
CONFIG_HKIP_SELINUX_PROT=y
CONFIG_HKIP_SELINUX_POLDB_SIZE_MB=12
# CONFIG_FILE_LOCKING is not set
# CONFIG_COREDUMP is not set
# CONFIG_MAGIC_SYSRQ is not set
# CONFIG_INTEGRITY is not set
# CONFIG_KERNEL_CODEMERGE is not set
# CONFIG_SCSI_UFS_GEAR_CTRL is not set
# CONFIG_MAS_UFS_GEAR_CTRL is not set
# CONFIG_TRANSPARENT_HUGEPAGE is not set
# CONFIG_DFX_HUNGTASK is not set
# CONFIG_DFX_HUNGTASK_MMAP_SEM is not set
# CONFIG_DFX_HUNGTASK_MMAP_SEM_DBG is not set
# CONFIG_THERMAL_NPU is not set
# CONFIG_MEMCG is not set
# CONFIG_BLK_CGROUP is not set
# CONFIG_CGROUP_SCHED is not set
# CONFIG_CGROUP_FREEZER is not set
# CONFIG_CPUSETS is not set
# CONFIG_CGROUP_CPUACCT is not set
# CONFIG_HUAWEI_DSM_IOMT_HOST is not set
# CONFIG_HUAWEI_DSM_IOMT_UFS_HOST is not set
# CONFIG_32BIT_COMPAT is not set
CONFIG_HM_SR_PHONE=y
CONFIG_DUMP_HMLOG_ON_EXCEPTION=y
CONFIG_DUMP_SNAPSHOT_PLAINTEXT=y
CONFIG_LOG_ENCRYPT=y

#
# L3Cache
#
CONFIG_L3CACHE_EXTENSION=y
# CONFIG_L3CACHE_EXTENSION_DSU is not set
# CONFIG_L3CACHE_EXTENSION_DYNAMIC is not set
# CONFIG_L3CACHE_EXTENSION_DEBUG is not set
# CONFIG_L3CACHE_WEOE_BLOCK is not set
# CONFIG_L3CACHE_SHARE is not set
CONFIG_64BIT_CCSIDR=y
# CONFIG_L3CACHE_PARTITION_CTRL is not set
# CONFIG_L3CACHE_LP_DEBUG is not set
CONFIG_L3CACHE_TZSP=y
# end of L3Cache
CONFIG_FBE4_UECE_FOR_HM_FSCRYPTO=y
CONFIG_FBE4_UECE_ENHANCE_FOR_HM_FSCRYPTO=y
CONFIG_FBE_DE_DOUBLE_TO_SINGLE=y
CONFIG_FILE_BASED_ENCRYPTO_FOR_HM_FSCRYPTO=y
CONFIG_DDRC_SUPPORT_FFA=y
CONFIG_FILE_BASED_ENCRYPTO_S4=y

CONFIG_HMKIP=y
CONFIG_LIBLINUX_LOGLEVEL_DEFAULT=7
CONFIG_LIBLINUX_USE_LASTKLOG=y
CONFIG_LIBLINUX_USE_TRACK_INFO=y

# CONFIG_SECURITY_SELINUX_DEVELOP is not set


CONFIG_CODE_DECRYPT_HM=y

CONFIG_UAPP=y

CONFIG_LOAD_IMAGE=y
CONFIG_LOAD_DEMO=y

CONFIG_XZ_DEC=y
CONFIG_XZ_DEC_BCJ=y
# CONFIG_XZ_DEC_X86 is not set
# CONFIG_XZ_DEC_POWERPC is not set
# CONFIG_XZ_DEC_IA64 is not set
# CONFIG_XZ_DEC_ARM is not set
# CONFIG_XZ_DEC_ARMTHUMB is not set
# CONFIG_XZ_DEC_SPARC is not set
# CONFIG_XZ_DEC_TEST is not set

CONFIG_NPU_OHOS=y

# CONFIG_DFX_PSTORE is not set
CONFIG_LIBLINUX_ASYNC_END_IO=y
# CONFIG_LIBLINUX_SKIP_TIMESYNC is not set
CONFIG_LIBLINUX_NET_SOCKMAP=y
CONFIG_LIBLINUX_BPF_EVENTS=y
# PERF_EVENT hasn't been impl
# CONFIG_NAMTSO_PMU is not set

CONFIG_BIG_MODEL_MONITOR=y
CONFIG_LIBLINUX_THREAD_BLOCK=y
CONFIG_SCSI_LOGGING=y
CONFIG_NETLINK_ROUTE_NLMSG_READPRIV=y

CONFIG_HUAWEI_NAT_TRAV=y

CONFIG_FREEZER=y
# CONFIG_USER_HANDLE_FREEZING is not set

CONFIG_HW_BOOSTER=y
CONFIG_HW_PACKET_TRACKER=y
CONFIG_NETFILTER_XT_TARGET_HL=y

CONFIG_LIBLINUX_BUDDY_TRACKER=y

# CONFIG_CGROUP_IOLIMIT_HIBERN8 is not set
