comment "UDK Backend Settings"
source "$(HMCMAKENG_KCONFIG)"

source "Kconfig.legacy"
source "fusion/Kconfig"
source "exts/hisi/Kconfig"

config MODULE_SCHED_CLASS
	def_bool y

config COMPAT
	bool "Support for 32-bit applications at EL0"
	default n

config UDK_I2C
	bool "enable udk i2c"
	default n

config UDK_TTY
	bool "enable udk tty, only close in LDK+UDK mode"
	default y

config UDK_DMA_MEMPOOL_BITMAP
	hex "dma mempool order bitmap"
	default 0x1

config UDK_EXT
    bool "UDK EXT Support"
    help
        UDK framework has extension api. The driver could invoke
        customized extension fastcall provided by micro-kernel.
    default n

config UDK_SPI
	bool "enable udk spi"
	default n

config UDK_TIMER_PRECISION
	int "precision of udk timer(ms)"
	default 100

config UDK_FUSION
	bool "enable udk fusion"
	default n

config UDK_BLOCK_MQ
	bool "enable udk block multi queue"
	default n

config TRACEMGR
       bool "trace manager"
       default n

config NO_TRACEMGR
	def_bool !TRACEMGR

# bd_types header file use this config, needs to keep the value consistent with other config
config HISI_INLINE_ENCRYPTION
	bool "Enable hisi inline encrypt"
	default n

config UDK_FALLBACK_ENCRYPTION
	bool "Enable udk fallback encrypt"
	default n

config PAGE_FAULT_MARK
	bool "page fault mark feature"
	default n
	help
		for mark page fault feature

config VFS_BLK_HMCRYPTO
	bool "indicate whether hisi hmcrypto engine is used"
	default n

config UDK_BIO_INFO_MAX_COUNT
	int "udk bio info max count"
	default 256

config FSCK_BOOST
    bool "Enable CONFIG_FSCK_BOOST:Improve boot fsck, resize, and mount speed"
	default n
source "exts/hisi/Kconfig"
