# Copyright (c) Huawei Technologies Co., Ltd. 2023. All rights reserved.
# Description: Stub file for HISI
# Author: Huawei OS Kernel Lab
# Create: Mon Nov 25 11:51:30 2024

config HISI_UDK_CONFIG
  bool "entry for HISI hm-verif-kernel module compile"
  default n