config HECA_V2_LTS
	bool "HECA_V2_LTS"
	default n
	help
	  Hisilicon Efficiency Control Algorithm version 2 lts
config HECA_GPU_LTS
	bool "HECA_GPU_LTS"
	depends on HECA_V2_LTS
	default n
	help
	  Hisilicon GPU Efficiency Control Algorithm lts