# Copyright (C) Huawei Technologies Co., Ltd. 2024. All rights reserved.
# Description: Kconfig for ldk extension
# Author: Huawei OS Kernel Lab
# Create: Sat Jun 08 11:54:30 2024

# HMCMAKENG_KCONFIG is injected by HongmengCMakeNG/Kconfig.cmake
# which defines multiple config options which is useful for HMbuild.

source "$(HMCMAKENG_KCONFIG)"
