# SPDX-License-Identifier: GPL-2.0

config GPIO_HIV500
	bool "PrimeCell HIV500 GPIO support"
	depends on ARM_AMBA
	select IRQ_DOMAIN
	select GPIOLIB_IRQCHIP
	help
	  Say yes here to support the PrimeCell HIV500 GPIO device

config GPIO_HIV500_VM
	bool "PrimeCell HIV500 GPIO VM support"
	depends on ARM_AMBA
	select IRQ_DOMAIN
	select GPIOLIB_IRQCHIP
	help
	  Say yes here to support the PrimeCell HIV500 GPIO VM device

config GPIO_HI6502
	bool "HI6502 GPIO support"
	depends on GPIO_PL061
	help
	  Say yes here to support the HI6502 GPIO device

config GPIO_PL061_VM
	bool "HI Virtual GPIO support"
	depends on GPIO_PL061
	default n
	help
	  Say yes here to support the virtual gpio

config GPIO_HI9030
	bool "HI9030 GPIO support"
	depends on GPIOLIB
	select IRQ_DOMAIN
	select GPIOLIB_IRQCHIP
	default n
	help
	  Say yes here to support the HI9030 GPIO device

config GPIO_HIPHYIO
	bool "HI9030 HIPHYIO GPIO support"
	depends on GPIOLIB
	select IRQ_DOMAIN
	select GPIOLIB_IRQCHIP
	default n
	help
	  Say yes here to support the HI9030 GPIO device

config GPIO_SUPPORT_IOMCU
	bool "HIV500 GPIO support IOMCU"
	depends on GPIOLIB
	select IRQ_DOMAIN
	select GPIOLIB_IRQCHIP
	default n
	help
	  Say yes here to support the HIV500 IOMCU GPIO

config GPIO_IRQ_DUMP
	bool "HIV500 GPIO irq dump"
	depends on GPIOLIB
	select IRQ_DOMAIN
	select GPIOLIB_IRQCHIP
	default n
	help
	  Say yes here to support the HIV500 GPIO IRQ info DUMP

config GPIO_VALUE_DEBUG
	bool "HIV500 GPIO support debug GPIO028 for modem"
	depends on GPIO_HIV500
	default n
	help
	  Say yes here to support the gpio debug
