# Copyright (c) Huawei Technologies Co., Ltd. 2021. All rights reserved.
# Description: Kconfig for test
# # Author: Huawei OS Kernel Lab
# # Create: Wed Sep 22 16:22:45 2021
#
# # HMCMAKENG_KCONFIG is injected by HongmengCMakeNG/Kconfig.cmake
# # which defines multiple config options which is useful for HMbuild.
source "$(HMCMAKENG_KCONFIG)"
source "subdir/Kconfig"
