# Copyright (c) Huawei Technologies Co., Ltd. 2022. All rights reserved.
# Description: Kconfig for test
# # Author: Huawei OS Kernel Lab
# # Create: Thu Jan 06 02:03:25 2022
#
# # HMCMAKENG_KCONFIG is injected by HongmengCMakeNG/Kconfig.cmake
# # which defines multiple config options which is useful for HMbuild.
source "$(HMCMAKENG_KCONFIG)"
