config HW_CGROUP_WORKINGSET
        bool "workingset cgroup subsystem"
        depends on CRYPTO_CRC32C
        depends on TASK_DELAY_ACCT
        help
          Provides a cgroup implementing filepage collector and prereader of workingset.
          This cgroup workingset for application, collect it touched filepages and
          preread those filepages.

config HW_CGROUP_WORKINGSET_FAULT_AROUND
        bool "workingset fault around feature"
        depends on HW_CGROUP_WORKINGSET
        help
          Precisely map as many pages as possible around the page fault exception address
          in advance, which base on cgroup workingset.
