#
# Near Field Communication (NFC) devices
#
config NFC_WATCH_COMMU
	tristate "NFC WATCH COMMU"
	depends on I2C
	select CRC_CCITT
	default n
	help
	  Say yes if you want watch commu driver.
	  This is for watch commu connected version. If unsure, say N here.

	  To compile this driver as a module, choose m here. The module will
	  be called watch commu.

